<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.MvvmCross.Plugins.UserDialogs" version="4.1.0" targetFramework="wpa81" />
  <package id="Acr.UserDialogs" version="4.3.4" targetFramework="wpa81" />
  <package id="Coding4Fun.Toolkit.Controls" version="2.1.6" targetFramework="wpa81" />
  <package id="MvvmCross" version="4.4.0" targetFramework="wpa81" />
  <package id="MvvmCross.Binding" version="4.4.0" targetFramework="wpa81" />
  <package id="MvvmCross.Core" version="4.4.0" targetFramework="wpa81" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.5.1" targetFramework="wpa81" />
  <package id="MvvmCross.Platform" version="4.4.0" targetFramework="wpa81" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="wpa81" />
  <package id="Splat" version="1.6.2" targetFramework="wpa81" />
</packages>